
body {
    background-color: #fafafa;
}

.navbarstyle {
    background-color: #ffffff;
    height: 50px;
}
.icon {
   
    width:25px;
    /* Other styles here */
}
.linkbtn {
    background-color: aqua;
}